CONFIG_OPTIMIZE_NORMAL=y
# CONFIG_RBUD is not set
# CONFIG_STACK_CLASH_PROTECTION is not set
CONFIG_STACK_PROTECTOR=y
# CONFIG_ASAN is not set
# CONFIG_UBSAN is not set
CONFIG_PORT=30514
CONFIG_MAX_CLIENTS=51200
CONFIG_SYSLOG_IDENT="lrsyslog"
